body
{
    margin:0;
    font-family: 'DM Mono', monospace;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

/* font-family: 'DM Mono', monospace;
font-family: 'Amatic SC', cursive;
font-family: 'Neuton', serif;
font-family: 'Pacifico', cursive; */

#content
{
    position:relative;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y proximity;
}

.normal
{
    width:100vw;
    height:110vh;
    background-size: 100vw;
    scroll-snap-align: start;
    display: flex;
}

#one
{
    background-color:#e1c076;
    height:210vh;
    position: relative;
}

.scrollup
{
    width:3vw;
    height:3vw;
    text-decoration: none;
    position: fixed;
    left:93vw;
    top:90vh;
    background-color: aqua;
    z-index: 99;
    border-radius: 50%;
}

#start
{
    position: absolute;
    width:18vw;
    height:16vw;
    left:41vw;
    top:26vh;
}

#start iframe
{
    width:18vw;
    height:16vw;
    animation: broom 0.5s ease-in-out 2s 2 alternate;
}

@keyframes broom
{
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2,1.2);}
    100% {transform: scale(1,1);}
}

.gone
{
    display:none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.start-scrolling
{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#listone
{
    padding-left:110px;
    font-size:72px;
    padding-top:4vh;
    list-style-type: none;
    display:none;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 8px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    line-height: 90px; /* I know that i should use rem or em value, but i'm gonna use it next time */
}

#listone li
{
    transition: all 0.5s ease-in-out;
}

#listone li:hover
{
    transform: scale(1.15);
    text-shadow:8px 8px 10px #000, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#gif1
{
    position: absolute;
    left:70vw;
    opacity: 0.8;
}

#buttonik
{
    position: absolute;
    width:5vw;
    height:5vw;
    left:47.5vw;
    top:200vh;
    font-size:25px;
    text-align:center;
    border-radius:50%;
}

/*  rgba(203, 156, 25, 0.65)  */

#two
{
    background-color: #e1c076;
    opacity:1;
    text-align: justify;
}

#twotext
{
    width:50vw;
    padding:50px 10px 0px 70px;
    letter-spacing:3px;
    line-height: 55px;
    font-size:28px;
    text-indent: 25px;
}

#three
{
    text-align:center;
    position: relative;
    background-color: #e1c076;
}

#three-headline
{
    position: absolute;
    top:22vh;
    width:16vw;
    left:24vw;
    z-index:3;
    height:12vh;
    transform: rotate(-7deg);
    background-color: #ffffff;
    border: 2px #e1c076 solid;
    border-radius:2px;
    box-shadow: 8px 8px 10px #222, -2px -2px 7px #222;
}

#three-back
{
    width: 100%;
    height:100%;
    background-image: url("img/tlo2.jpg");
    background-size: 102%;
    opacity: 0.8;
}

#three-headline p
{
    font-size:54px;
    color:#222;
    text-shadow: 2px 2px 6px #e1c076;
}

#threetext
{
    position: absolute;
    transform: rotate(5deg);
    text-shadow: 1px 0 0 #222, -1px 0 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 1px #222, -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 2px 2px 16px #e1c076;
    border-radius:2px;
    top:35vh;
    width:44vw;
    left:35vw;
    height:38vh;
    background-color: #ffffff;
    border: 2px #e1c076 solid;
    box-shadow: 8px 8px 10px #222, -2px -2px 7px #222;
}

#threetext p
{
    font-size:26px;
    padding:auto;
    padding-top:8px;
    color:#e1c076;
}

#four
{
    background-image: url("img/budynek.jpg");
}

#fourtext
{
    position: absolute;
    left:45vw;
    width:50vw;
    padding-top:70px;
    padding-right:20px;
    letter-spacing:3px;
    line-height: 60px;
    font-family: 'Amatic SC', cursive;
    font-size:40px;
    text-align:center;
    display: none;
    color:#222;
}

#fourtext span
{
    font-family: 'Pacifico', cursive;
    font-size:35px;
    color: #e1c076;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #222;
    padding:0px 11px 0px 2px;
}

#five
{
    background-color: #e1c076;
}

#fivetop
{
    background-color: chocolate;
    width:40vw;
    height: 35vh;
    position: relative;
    margin: auto;
    top: 35vh;
    text-align: center;
}

#fivebottom
{
    display:none;
}

.item img
{
    width:100vw;
    height:110vh !important;
}

#six
{
    height: 100vh;
}

#seven
{
    text-align:center;
    height: 100vh;
    position: relative;
    background-color: #bbb;
}

.triangle-up
{
    top:0vh;
    left:0vw;
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 50vh solid #000;
    position: absolute;
    transition: all 0.2s linear;
}

.triangle-down
{
    top:50vh;
    left:0vw;
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 50vh solid #000;
    position: absolute;
    transition: all 0.2s linear;
}

.triangle-right
{
	width: 0;
    height: 0;
	border-top: 50vh solid transparent;
	border-right: 50vw solid #000;
	border-bottom: 50vh solid transparent;
    left:50vw;
    position: absolute;
    transition: all 0.2s linear;
}

.triangle-left
{
	width: 0;
	height: 0;
	border-top: 50vh solid transparent;
	border-left: 50vw solid #000; /* fajny kolor e5e5e5 */
    border-bottom: 50vh solid transparent;
    left:0;
    position: absolute;
    transition: all 0.2s linear;
}

.seven-content
{
    position: absolute;
    transition: all 0.2s linear;
    font-size: 14.5px;
    line-height: 19px;
    font-family: 'DM Mono', monospace;
    color:#222;
    text-align: center;
}

.seven-content-1
{
    top:10vh;
    left:0vw;
	width: 0;
	height: 0;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
    border-top: 30vh solid #fff;
    z-index: 5;
    left:20vw;
}

.seven-content-2
{
    top:60vh;
    left:0vw;
	width: 0;
	height: 0;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	border-bottom: 30vh solid #fff;
    z-index: 5;
    left:20vw;
}

#seven-text-1
{
    position: absolute;
    width:60vw;
    top:-29vh;
    left:-30vw;
}

#seven-text-2
{
    position: absolute;
    width:60vw;
    top:4vh;
    left:-30vw;
}

#seven-picture1
{
	width: 0;
    height: 0;
	border-top: 35vh solid transparent;
	border-right: 35vw solid #fff;
	border-bottom: 35vh solid transparent;
    left:60vw;
    top:15vh;
    position: absolute;
    z-index: 5;
    transition: all 0.2s linear;
}

#seven-picture2
{
	width: 0;
	height: 0;
	border-top: 35vh solid transparent;
	border-left: 35vw solid #fff;
    border-bottom: 35vh solid transparent;
    left:5vw;
    top:15vh;
    position: absolute;
    z-index: 5;
    transition: all 0.2s linear;
}

#seven-picture1 img
{
    width:25vw;
    height:25vh;
    position: absolute;
    border-radius: 30%;
    left:10vw;
    top:-12.5vh;
    z-index: 15;
}

#seven-picture2 img
{
    width:25vw;
    height:25vh;
    position: absolute;
    border-radius: 20%;
    left:-35vw;
    top:-12.5vh;
    z-index: 15;
}

#eight
{
    width:100vw;
    height:320vh;
    background-size: 100vw;
    background-color: #111111;
    position:relative;
    color:#dddddd;
    font-size:20px;
    line-height: 31px;
    font-family: 'DM Mono', monospace;
}

#swot
{
    position: absolute;
    left:45vw;
    top:20vh;
    width:10vw;
    text-align:center;
    font-size:40px;
    line-height: 30px;
    height:10vh;
}

#swot p
{
    color:#e1c076;
}

.kafelek
{
    position: absolute;
    width:5vw;
    height:5vw;
    font-size:55px;
    text-align:center;
    color:#e1c076;
    display:none;
}

.kropka
{
    position: absolute;
    height:12px;
    width:12px;
    background-color:#ffffff;
    border-radius:50%;
    left:50vw;
    opacity: 0;
    transition:all 2s ease;
}

#kaf1
{
    top:50vh;
    left:20vw;
}

#kaf2
{
    top:110vh;
    left:70vw;
}

#kaf3
{
    top:170vh;
    left:20vw;
}

#kaf4
{
    top:230vh;
    left:70vw;
}

.swottext
{
    position: absolute;
    width:36vw;
    height:60vh;
    letter-spacing: 2px;
}

#mocne
{
    top:calc(50vh + 6vw); /* tu dałem +1 odsstępu od kwadratu */
    left:-40vw;
    opacity:0;
    transition: left 1s, opacity 1.3s ease-in;
}

#slabe
{
    top:calc(110vh + 6vw); /* tu dałem +1 odsstępu od kwadratu */
    left:110vw;
    display: none;
    opacity:0;
    transition: left 1s, opacity 1.3s ease-in;
}

#szanse
{
    top:calc(170vh + 6vw); /* tu dałem +1 odsstępu od kwadratu */
    left:-40vw;
    opacity:0;
    transition: left 1s, opacity 1.3s ease-in;
}

#zagrozenia
{
    top:calc(230vh + 6vw); /* tu dałem +1 odsstępu od kwadratu */
    left:110vw;
    opacity:0;
    display: none;
    transition: left 1s, opacity 1.3s ease-in;
}

#nine
{
    width:100vw;
    height:480vh;
    background-color:#e1c076;
    background-size: 100vw;
    position: relative;
    padding-top: 100px;
}

#ninetop
{
    font-size:50px;
    letter-spacing: 6px;
    font-family: 'DM Mono', monospace;
    width:30vw;
    position: absolute;
    left:53vw;
}

.wciecie
{
    position: absolute;
    width:50vw;
    height:140vh;
    top:80vh;
    background-color: #fff;
    text-align: center;
    color:#444444;
}

.ninehover
{
    width:50vw;
    position: absolute;
    left:0;
}

.nineshow
{
    position: absolute;
    font-size:48px;
    letter-spacing: 8px;
    font-family: 'Amatic SC', cursive;
    left:50vw;
    transition: 0.6s all ease-out;
    opacity:0;
    color:white;
    text-shadow:5px 5px 5px #222;
}

#wciecie2
{
    left:50vw;
    top:220vh;
    padding: 0;
    text-align: left;
}

.textnine
{
    margin-top:40px;
}

.textnine h1
{
    font-size:40px;
    margin-top:60px;
    font-family: 'DM Mono', monospace;
}

.textnine p
{
    font-size:25px;
    padding: 0px 130px 0px 130px;
}

.turn
{
    perspective: 1500px;
    position: relative;
    width:50vw;
}

.turn::before,
.turn::after
{
    content:"";
    width: 100%;
    height:100%;
    box-sizing: border-box;
    transition: 0.6s transform linear;
    backface-visibility: hidden;
    position: absolute;
}

.turn:hover::after
{
    transform:rotateY(180deg);
}
.turn::before
{
    transform:rotateY(180deg);
}

.turn:hover::before
{
    transform:rotate(360deg);
}

#turn1
{
    height:36vh;
}

#turn1::after
{
    background-image:url("img/06.png");
}

#turn2::after
{
    background-image:url("img/07.png");
}

#turn3::after
{
    background-image:url("img/08.png");
}

#turn4::after
{
    background-image:url("img/09.png");
}

#turn5::after
{
    background-image:url("img/10.png");
}

#turn1::before
{
    background-image:url("img/06b.png");
}

#turn2::before
{
    background-image:url("img/07b.png");
}

#turn3::before
{
    background-image:url("img/08b.png");
}

#turn4::before
{
    background-image:url("img/09b.png");
}

#turn5::before
{
    background-image:url("img/10b.png");
}

#turn2,#turn3,#turn4,#turn5
{
    height:26vh;
}


#wciecie3
{
    top:360vh;
    height:120vh;
}

#ten
{
    width:100vw;
    height:150vh;
    position: relative;
    z-index:-1;
}

#ten1
{
    width:100vw;
    height:1vh;
    opacity: 0;
}

#ten2
{
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100vw;
    height:100%;
    color:#e1c076;
    background-color:#e1c076;
}

#ten3
{   
    width:33vw;
    height:100%;
    background-color: #222;
    text-shadow:3px 3px 15px #e1c076;
    float: left;
    text-align: center;
    transition: all 0.5s ease;
}

#ten4
{
    background-color: #e1c076;
    width:33vw;
    height:100%;
    float: left;
    text-align: center;
    transition: all 0.5s ease;
    text-shadow:3px 3px 15px #222;
    color:#222;
}

#ten5
{
    background-color: #222;
    text-shadow:3px 3px 15px #e1c076;
    width:33vw;
    height:100%;
    float: right;
    text-align: center;
    transition: all 0.5s ease;
}

.block
{
    display:inline-block;
    position: relative;
    margin-top:13px;
    width:14vw;
    height:26vh;
    transition: transform 0.3s ease-in-out;
}

.block span
{
    position: absolute;
    left:1.8vw;
    top:6.8vh;
}

.block:hover
{
    transform: scale(1.08);
}

#ten h1
{
    font-family: 'Neuton', serif;
    padding-bottom: 12px;
    font-size: 44px;
    letter-spacing: 4px;
}

#ten h1:nth-child(odd)
{
    color:#222;
    text-shadow: 2px 0 0 #e1c076, -2px 0 0 #e1c076, 0 2px 0 #e1c076, 0 -2px 0 #e1c076, 1px 1px #e1c076, -1px -1px 0 #e1c076, 1px -1px 0 #e1c076, -1px 1px 0 #e1c076, 6px 6px 6px #e1c076;;
}

#ten a
{
    font-size: 16px;
    line-height: 27px;
}

.circle
{
    background-color: #222;
    border-radius: 50%;
    border: 2px solid #e1c076;
    width:10vw;
    height:10vw;
    margin: auto;
    box-shadow: 3px 3px 22px #e1c076, -3px -3px 22px #e1c076, -3px 3px 22px #e1c076, 3px -3px 22px #e1c076;
}

.circle-mid
{
    box-shadow: 3px 3px 22px #222, -3px -3px 22px #222, -3px 3px 22px #222, 3px -3px 22px #222;
    background-color: #e1c076;
}
.circle img
{
    border-radius: 50%;
    top:0vh;
    left:6.35vw;
    width:10vw;
    height:10vw;
    position: absolute;
}

.circle span
{
    font-size:100px;
}

#eleven
{
    background-image:linear-gradient( #fff,#e1c076);
    color:#222222;
    font-size:45px;
    text-align:center;
    font-family: 'Amatic SC', cursive;
    padding:27vh 10vw 27vh;
    text-shadow:8px 8px 15px #222;
}

#eleven span
{
    display: none;
}

    /*color:#7697e1; ************************************************************************************************/

#twelve
{
    background-color:#e1c076;
    position: relative;
}

#twelveleft
{
    width:50vw;
    height:90vh;
    position: absolute;
    font-family: 'DM Mono', monospace;
    padding: 17vh 5vw 30vh;
    font-size:16px;
    text-align:center;
    color:#000;

    transition: top 0.8s, transform 0.8s, opacity 1.2s ease-in-out;
    transform: rotate(40deg);
    opacity:0;
    top:30vh;
}

#twelvetext{
    transition: 0.6s all ease-in-out;
}

#twelvetext:hover{
    transform: scale(1.15,1.15);
}

#twelveright
{
    width:46vw;
    position: absolute;
    left:47vw;
    padding-left:5vw;
    transform: rotate(-50deg);

    transition: top 0.8s, transform 0.8s, opacity 1.2s ease-in-out;
    opacity:0;
    top:30vh;
}

#twelveright table{
    transition: 0.6s all ease-in-out;
}

#twelveright table:hover{
    transform:rotate(10deg);
}


#twelveright table,tr,td
{
    border: 4px dashed #222;
}

#twelveright th
{
    font-size:16px;
    text-align:center;
    background-color: #222;
    color:#e1c076;
    border: 4px solid #222;
}

#twelveright tr:hover {
    background-color: #222;
    color:#e1c076;
    border: 4px dashed #e1c076;
}

#thirteen
{
    background-image:linear-gradient(to right, #fff, #ccc,#7697e1,#333,#000);
    height:150vh;
}

.content
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#thirteen h1
{
    font-size:48px;
    line-height: 70px;
    margin:0px 20px;
    text-align:center;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#thirteen p
{
    margin:30px 30px;
    font-size:21px;
    font-family: 'DM Mono', monospace;
    text-align:center;
}

#piechart
{
    position: absolute;
    left:31.7vw;
    top:-28.1vh;
    z-index:3;
}

#thirteen-left
{
    top:20vh;
    position: absolute;
    height:95vh;
    width:33vw;
    color:#000;
}

#thirteen-middle
{
    height:95vh;
    left:33vw;
    width:33vw;
    position: absolute;
    top:20vh;
}

#thirteen-middle p
{
    background: -webkit-linear-gradient(left, #000,#000,#fff,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#thirteen-right
{
    height:95vh;
    left:66vw;
    width:33vw;
    position: absolute;
    top:20vh;
    color:#fff;
}

#fourteen
{
    background-color: #222;
    position: relative;
    height:200vh;
}

#fourteen-head
{
    position: absolute;
    width:40vw;
    height:15vh;
    background-color: red;
}

.goal
{
    position: absolute;
    width:30vw;
    height:20vh;
    background-color: #555;
    border:3px solid green;
}

.check
{
    position: absolute;
    width:10vw;
    height:20vh;
    background-color: #333;
    border:3px solid green;
    color:green;
    font-size:100px;
    text-align:center;
}

#fifteen
{
    background-color: seagreen;
    position: relative;
}

#donut
{
    left:45vw;
    top:45vh;
    width:10vw;
    height:10vw;
    position: absolute;
    transition: transform 1s linear;
    animation: rotacja 7s linear 0s infinite;
}

#konkurencja
{
    position: absolute;
    text-overflow: clip;
    line-height: 40px;
    width:5vw;
    height:60vw;
    left:5vw;
    top:18vh;
    font-size:48px;
    font-family: 'Neuton', serif;
    color:#222;
    text-shadow: 1px 1px 1px #e1c076;
}

.konkurenci
{
    position: absolute;
    width:10vw;
    height:10vw;
    border-radius: 50%;
    text-align: center;
    padding-top: 8vh;
    transition: transform 1s linear;
    animation: rotacjaodwrotna 7s linear 0s infinite;
}

.powieksz
{
    transition: all 1s linear;
    border-radius: 50%;
    width:10vw;
    height:10vw;
    margin-top: -8vh;
    background-size: cover;
}

.powieksz:hover
{
    transform:scale(2.5);
    opacity: 0;
}

.powieksz1
{
    /*background-image: url("img/coffeeperk2.jpg");*/
    background-color: #e1c076;
    opacity: 0;
    width:30vw;
    height:30vh;
    z-index: 5;
}

/* Teraz mogę zrobić 5 róznych funkcji, każda by zmieniała tło na inny kolor. do tego oczywiście dobrać te obrazy z podpisami i linkami"*/

#konkurenci1
{
    left:0vw;
    top:-18vw;
}

#konkurenci2
{
    left:-17vw;
    top:-6vw;
}

#konkurenci3
{
    left:-11vw;
    top:15vw;
}

#konkurenci4
{
    left:11vw;
    top:15vw;
}

#konkurenci5
{
    left:17vw;
    top:-6vw;
}

@keyframes rotacja {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }

  
@keyframes rotacjaodwrotna {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(-360deg);}
  }

#sixteen
{  
    background-color:#f19e38;
}